<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart_parking">
    <application
        android:label="Smart Parking Demo"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxMFTGcvx-0YzrM6qmZt05DkD3D5cZVPU"/>
    </application>
</manifest>
